div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Just Think
    a(href='/quoteList') toto
    p.lead The best source of quotes of the world !
    img(src='assets/images/quote.png', alt='Quote')

.container
  .row
    .col-lg-12
      h1.page-header Recents Quotes :
      .row(ng-repeat='quote in quotes')
        {{quote.author || "Inconnu"}} a ecrit:
        {{quote.text}}

footer.footer
  .container
    p
      | © JustThink 