div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Just Think
    p.lead The best source of quotes of the world !
    img(src='assets/images/quote.png', alt='Quote')

.container
  .row
    .col-lg-2
    .col-lg-8
      .panel.panel-default.top20
        .panel-heading
          h2 Recents Quotes
      p(ng-repeat='quote in quotes')
        {{quote.text}} <br />
        span.author by {{quote.author || "Inconnu"}}
        

footer.footer
  .container
    p
      | © JustThink 